body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

#quiz {
  margin: 20px 0;
  min-height: 200px;
}

.btn-container {
  text-align: center;
}

#prev, #next, #start {
  display: none;
}

ul li{
  list-style: none;
}

input[type=radio]{
  margin-right: 10px;
}

h5 {color: #985f0d};

